[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/buildswithking-security"]
	path = lib/buildswithking-security
	url = https://github.com/BuildsWithKing/buildswithking-security
